.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2,
 #date-picker {
    width: 100%;
}

.SingleDatePicker.SingleDatePicker_1 {
    width: 100%;
}


.DateInput_input.DateInput_input_1 {
    height: 34px;
}

#date-picker {
    text-align: center;
}


